body {
    font-family: Arial, sans-serif;
    background-image: url("https://th.bing.com/th/id/OIP.7jSshz6hIAxh0nc5QdofvgHaEK?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-size: cover auto;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fe8738;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #fff;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: cyan;
    background-color: #723232;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ac2020;
}

.result {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color: #444;
}

p {
    color: #fff;
}
